{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>

    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="{% static "js/search.js" %}"></script>
     <link href="{% static "css/stylesheet.css" %}" rel="stylesheet">
      {{ form.media }}


  </head>
  <body>
    <div class="col-sm-1"></div>     <div class="col-sm-10"><div class="container-fluid" style="background-color:#dbdbdb;">
  <div class="row">
          <div>
          <img src={% static 'img/leidos_logo_2013.jpg' %} alt="leidosLogo" width="100%"> </a>  </li>
        </h1>

      <center><nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">

    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'adminUser:addstaff' %}">Add Staff</a></li>
      <li><a href="{% url 'adminUser:stafflist' %}">Staff List</a> </li>
      <li><a href="{% url 'adminUser:addproject' %}">Add Project</a></li>
      <li><a href="{% url 'adminUser:projectlist' %}">Projects List</a></li>
        <li class="active"><a href="{% url 'adminUser:projectlist' %}">Match-Making</a></li>
    </ul>
  </div>
           <div class="container-heading">
              {{ title }}
          </div>
</nav>
</div>


</div>
<div class="container-fluid">
</div>
     <div class="pull-right"><a href = {% url 'accounts:logoutUser' %} class="btn btn-danger btn-md"> <span class="glyphicon glyphicon-log-out"></span>Sign out</a></div>
<br>
        <br>
  <div class="row">
    <div class="col-md-2">

<div id="refresh">
<script> jQuery(document).ready(function (){jQuery("#refresh").load('{% url "adminUser:alertTab" %}');})
         </script>
              <script>
jQuery(document).ready(function(){setInterval(function(){jQuery("#refresh").load('{% url "adminUser:alertTab" %}');
   },6000)
       });</script>
        </div>

           </div>



    <div class="col-md-10">
    <label for="sel">Select a project from below and the table will display the most relevant employee for the project:</label>
    <br>
     <div class="col-lg-offset-3 col-md-6">

  <select class="form-control" id="sel">
    {% for proj in allProjects %}

       <option value="{{ proj.projectID }}">{{ proj.projectID }}: {{ proj.projectName }}</option>
    {% endfor %}

</select>
     <br>
     <div class="col-md-offset-5">

      <button class="btn btn-primary btn-md" id="match" type="button">
          <span class="glyphicon glyphicon-refresh"></span> Match
      </button>

</div>
     <script>
        $(function() {


    $('#match').on('click', function() {
        var select_value = $('#sel').val();
        var url = window.location.origin;
        url = url + "/admin/matchmaking/" + select_value;
        window.location.href = url;

    });
});
     </script>
     </div>
    <br>
    <br>
    <br>
    <br>
    {% if project != Null %}
        <h3>Project: <a href="{% url "adminUser:projectprofile" project.projectID %}">{{ project.projectName }}</a></h3>

        <br>

        <h4>Below is the list of staff where each staff matches all the required skills and has hours available for complete skill.</h4>
    <br>
       <table class="table table-responsive table-bordered table-scrollx listTable results">
        <thead>
          <tr>

            <th>Staff ID</th>
            <th>First Name</th>
            <th>Last Name</th>
              <th>DOB</th>
              <th>Email</th>
              <th>Designation</th>
              <th>Work Status</th>
              <th>Skill Level</th>


          </tr>
        </thead>

     <tbody>

        {% for staff in full %}
            <tr>
             <td><a href="{% url 'adminUser:staffprofile' staff.staffID %}">{{ staff.staffID }}</a></td>
            <td>{{ staff.user.first_name }}</td>
            <td>{{ staff.user.last_name }}</td>
            <td>{{ staff.dateOfBirth }}</td>
                <td>{{ staff.user.email }}</td>
            <td>{{ staff.designation }}</td>
            <td>{{ staff.workStatus }}</td>
            <td>{{ staff.skillLevel }}</td>

</tr>
        {% endfor %}
         </tbody>
      </table>
        <br>
        <br>

     <h4>Below is the list of staff where each staff matches all the required skills and has complete hours available for only some skills.</h4>

     <table class="table table-responsive table-bordered table-scrollx listTable results">
        <thead>
          <tr>

            <th>Staff ID</th>
            <th>First Name</th>
            <th>Last Name</th>
              <th>DOB</th>
              <th>Email</th>
              <th>Designation</th>
              <th>Work Status</th>
              <th>Skill Level</th>


          </tr>
        </thead>

     <tbody>
        {% for staff in fsome %}
    <tr>
               <td><a href="{% url 'adminUser:staffprofile' staff.staffID %}">{{ staff.staffID }}</a></td>
            <td>{{ staff.user.first_name }}</td>
            <td>{{ staff.user.last_name }}</td>
            <td>{{ staff.dateOfBirth }}</td>
                <td>{{ staff.user.email }}</td>
            <td>{{ staff.designation }}</td>
            <td>{{ staff.workStatus }}</td>
            <td>{{ staff.skillLevel }}</td>
            <br>
</tr>
        {% endfor %}
        </tbody>
      </table>
        <br>
        <br>
 <h4>Below is the list of staff where each staff matches all the required skills but is not available for any of the skill for full time.</h4>

         <table class="table table-responsive table-bordered table-scrollx listTable results">
        <thead>
          <tr>

            <th>Staff ID</th>
            <th>First Name</th>
            <th>Last Name</th>
              <th>DOB</th>
              <th>Email</th>
              <th>Designation</th>
              <th>Work Status</th>
              <th>Skill Level</th>


          </tr>
        </thead>

     <tbody>
      <br>
        {% for staff in partial %}
    <tr>
               <td><a href="{% url 'adminUser:staffprofile' staff.staffID %}">{{ staff.staffID }}</a></td>
            <td>{{ staff.user.first_name }}</td>
            <td>{{ staff.user.last_name }}</td>
            <td>{{ staff.dateOfBirth }}</td>
                <td>{{ staff.user.email }}</td>
            <td>{{ staff.designation }}</td>
            <td>{{ staff.workStatus }}</td>
            <td>{{ staff.skillLevel }}</td>
            <br>
</tr>
        {% endfor %}
      </tbody>
      </table>
        <br>
    <br>
 <h4>Below is the list of staff where each staff matches only some skills.</h4>
      <br>
       <table class="table table-responsive table-bordered table-scrollx listTable results">
        <thead>
          <tr>

            <th>Staff ID</th>
            <th>First Name</th>
            <th>Last Name</th>
              <th>DOB</th>
              <th>Email</th>
              <th>Designation</th>
              <th>Work Status</th>
              <th>Skill Level</th>
              <th>Matched Skills</th>


          </tr>
        </thead>

     <tbody>

        {% for staff in some %}
    <tr>
              <td><a href="{% url 'adminUser:staffprofile' staff.staffID %}">{{ staff.staffID }}</a></td>
            <td>{{ staff.user.first_name }}</td>
            <td>{{ staff.user.last_name }}</td>
            <td>{{ staff.dateOfBirth }}</td>
                <td>{{ staff.user.email }}</td>
            <td>{{ staff.designation }}</td>
            <td>{{ staff.workStatus }}</td>
            <td>{{ staff.skillLevel }}</td>
            <td>
            <button class="btn btn-primary btn-md" id="show{{ forloop.counter }}">Show</button>
            </td>
            <tr class="skillsrow" id="skillrow{{ forloop.counter }}" hidden>
            {% for sskill in staff.staffwithskills_set.all %}
                {% for pskill in project.projectswithskills_set.all %}
                    {% if sskill.skillID == pskill.skillID %}
                            <td>{{ sskill.skillID.skillName }}</td>

                    {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
            </tr>
        {% endfor %}
      </tbody>
      </table>
        <br>
    <br>
{% endif %}


<SCRIPT>

        $(".skillsrow").each(function(index){
           $('#show'+(index+1)).click(function () {
                $('#skillrow'+(index+1)).toggle()
            });})


</SCRIPT>


  </div>

</div>
    </div>
<div class="container-footer">
    <br><br>
    <div class="row">
        <div class="col-sm-2">

    <img src={% static 'img/leidos.png' %} alt="leidosLogo" class="img-rounded img-responsive img-footer">

</div>
        <div class="col-sm-2">

    <h8>Leidos Inc.
        <br>
        2017 Leidos inc.©
        <br>
     Reston, Virginia
</h8>
              </div>


  <div class="col-sm-2 pull-right">

    <img src={% static 'img/Logo.jpg' %} alt="syntaxLogo" class="img-rounded img-responsive img-footer-syntax">

</div>
         <div class="col-sm-2 pull-right">

    <h8>Developed By Syntax Inc.©
        <br>
        Dubai, United Arab Emirates
        <br>

</h8>
              </div>

        </div>

             <br><br>


</div>
</div>


</body>
</html>
