{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block content %}


    <div class="col-md-10">
    {% if project != Null %}
    <div class="col-sm-offset-2">
    <ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#complete">Complete Match ({{ full|length }})</a></li>
  <li><a data-toggle="tab" href="#high">High Match ({{ fsome|length }})</a></li>
  <li><a data-toggle="tab" href="#medium">Medium Match ({{ partial|length }})</a></li>
  <li><a data-toggle="tab" href="#low">Low Match ({{ some|length }})</a></li>
</ul>
</div>
    {% endif %}
    <br>

    <label for="sel">Select a project from below and the table will display the most relevant employee for the project:</label>
    <br>
     <div class="col-lg-offset-3 col-md-6">

  <select class="form-control" id="sel">
    {% for proj in allProjects %}

       <option value="{{ proj.projectID }}">{{ proj.projectID }}: {{ proj.projectName }}</option>
    {% endfor %}

</select>
     <br>
     <div class="col-md-offset-5">

      <button class="btn btn-primary btn-md" id="match" type="button">
          <span class="glyphicon glyphicon-refresh"></span> Match
      </button>

</div>
     <script>
        $(function() {


    $('#match').on('click', function() {
        var select_value = $('#sel').val();
        var url = window.location.origin;
        url = url + "/admin/matchmaking/" + select_value;
        window.location.href = url;

    });
});
     </script>
     </div>
    <br>
    <br>
    <br>
    <br>
    {% if project != Null %}
        <h3>Project: <a href="{% url "adminUser:projectprofile" project.projectID %}">{{ project.projectName }}</a></h3>

        <br>
  <div class="tab-content">
    <div id="complete" class="tab-pane fade in active">
    {% if full %}
        <h4>Below is the list of staff where each staff matches all the required skills and has hours available for complete skill.</h4>
    <br>
       <table class="table table-responsive table-bordered table-scrollx listTable results">
        <thead>
          <tr>

            <th>Staff ID</th>
            <th>First Name</th>
            <th>Last Name</th>
              <th>DOB</th>
              <th>Email</th>
              <th>Designation</th>
              <th>Work Status</th>
              <th>Skill Level</th>


          </tr>
        </thead>

     <tbody>

        {% for staff in full %}
              {% if staff.preferredLocation.country == project.location.country and staff.preferredLocation.city == project.location.city %}
                <tr class="danger">
                  {% else %}
                  <tr>
            {% endif %}
             <td><a href="{% url 'adminUser:staffprofile' staff.staffID %}">{{ staff.staffID }}</a></td>
            <td>{{ staff.user.first_name }}</td>
            <td>{{ staff.user.last_name }}</td>
            <td>{{ staff.dateOfBirth }}</td>
                <td>{{ staff.user.email }}</td>
            <td>{{ staff.designation }}</td>
            <td>{{ staff.workStatus }}</td>
            <td>{{ staff.skillLevel }}</td>
                {% for hol in staff.holidays_set.all %}
                {% if hol.holidayID in holidayID %}
                    <td> <span class="glyphicon glyphicon-plane" title="Start Date: {{ hol.startDate }} End Date: {{ hol.endDate }}"></span></td>

                {% endif %}

                {% endfor %}
            <form action="{% url 'adminUser:matchmakingProject' project.projectID %}" method="post">
                    {% csrf_token %}
            <input type="text" value="{{ staff.staffID}}" name="selectStaff"  hidden >
       <td><input class="btn btn-success btn-md" type="submit" value="Add Staff"  name="addFull"/></td>
                </form>
</tr>
        {% endfor %}
         </tbody>
      </table>

        <br>
        <br>
        {% else %}
        <h4>No Match</h4>
        {% endif %}
    </div>
        <div id="high" class="tab-pane fade">
        {% if fsome %}
     <h4>Below is the list of staff where each staff matches all the required skills and has complete hours available for only some skills.</h4>

     <table class="table table-responsive table-bordered table-scrollx listTable results">
        <thead>
          <tr>

            <th>Staff ID</th>
            <th>First Name</th>
            <th>Last Name</th>
              <th>DOB</th>
              <th>Email</th>
              <th>Designation</th>
              <th>Work Status</th>
              <th>Skill Level</th>


          </tr>
        </thead>

     <tbody>
        {% for staff in fsome %}
              {% if staff.preferredLocation.country == project.location.country and staff.preferredLocation.city == project.location.city %}
                <tr class="danger">
                  {% else %}
                  <tr>
            {% endif %}

               <td><a href="{% url 'adminUser:staffprofile' staff.staffID %}">{{ staff.staffID }}</a></td>

            <td>{{ staff.user.first_name }}</td>
            <td>{{ staff.user.last_name }}</td>
            <td>{{ staff.dateOfBirth }}</td>
                <td>{{ staff.user.email }}</td>
            <td>{{ staff.designation }}</td>
            <td>{{ staff.workStatus }}</td>
            <td>{{ staff.skillLevel }}</td>
              {% for hol in staff.holidays_set.all %}
                {% if hol.holidayID in holidayID %}
                   <td> <span class="glyphicon glyphicon-plane" title="Start Date: {{ hol.startDate }} End Date: {{ hol.endDate }}"></span></td>
                {% endif %}

                {% endfor %}
          <form action="{% url 'adminUser:matchmakingProject' project.projectID %}" method="post">
                    {% csrf_token %}
            <input type="text" value="{{ staff.staffID}}" name="selectStaff"  hidden >
       <td><input class="btn btn-success btn-md" type="submit" value="Add Staff"  name="addFull"/></td>
                </form>
            <br>
</tr>
        {% endfor %}
        </tbody>
      </table>
        <br>
        <br>
        {% else %}
        <h4>No Match</h4>
        {% endif %}
        </div>
        <div id="medium" class="tab-pane fade">
        {% if partial %}
 <h4>Below is the list of staff where each staff matches all the required skills but is not available for any of the skill for full time.</h4>

         <table class="table table-responsive table-bordered table-scrollx listTable results">
        <thead>
          <tr>

            <th>Staff ID</th>
            <th>First Name</th>
            <th>Last Name</th>
              <th>DOB</th>
              <th>Email</th>
              <th>Designation</th>
              <th>Work Status</th>
              <th>Skill Level</th>


          </tr>
        </thead>

     <tbody>
      <br>
        {% for staff in partial %}
    {% if staff.preferredLocation.country == project.location.country and staff.preferredLocation.city == project.location.city %}
                <tr class="danger">
                  {% else %}
                  <tr>
            {% endif %}
               <td><a href="{% url 'adminUser:staffprofile' staff.staffID %}">{{ staff.staffID }}</a></td>
            <td>{{ staff.user.first_name }}</td>
            <td>{{ staff.user.last_name }}</td>
            <td>{{ staff.dateOfBirth }}</td>
                <td>{{ staff.user.email }}</td>
            <td>{{ staff.designation }}</td>
            <td>{{ staff.workStatus }}</td>
            <td>{{ staff.skillLevel }}</td>
           {% for hol in staff.holidays_set.all %}
                {% if hol.holidayID in holidayID %}
                <td> <span class="glyphicon glyphicon-plane" title="Start Date: {{ hol.startDate }} End Date: {{ hol.endDate }}"></span></td>
                {% endif %}

                {% endfor %}
       <form action="{% url 'adminUser:matchmakingProject' project.projectID %}" method="post">
                    {% csrf_token %}
            <input type="text" value="{{ staff.staffID}}" name="selectStaff"  hidden >
       <td><input class="btn btn-success btn-md" type="submit" value="Add Staff"  name="addFull"/></td>
                </form>
            <br>
</tr>
        {% endfor %}
      </tbody>
      </table>
        <br>
    <br>
        {% else %}
        <h4>No Match</h4>
        {% endif %}
        </div>
        <div id="low" class="tab-pane fade">
        {% if some %}
 <h4>Below is the list of staff where each staff matches only some skills.</h4>
      <br>
       <table class="table table-responsive table-bordered table-scrollx listTable results">
        <thead>
          <tr>

            <th>Staff ID</th>
            <th>First Name</th>
            <th>Last Name</th>
              <th>DOB</th>
              <th>Email</th>
              <th>Designation</th>
              <th>Work Status</th>
              <th>Skill Level</th>
              <th>Matched Skills</th>


          </tr>
        </thead>

     <tbody>

        {% for staff in some %}
     {% if staff.preferredLocation.country == project.location.country and staff.preferredLocation.city == project.location.city %}
                <tr class="danger">
                  {% else %}
                  <tr>
            {% endif %}
              <td><a href="{% url 'adminUser:staffprofile' staff.staffID %}">{{ staff.staffID }}</a></td>
            <td>{{ staff.user.first_name }}</td>
            <td>{{ staff.user.last_name }}</td>
            <td>{{ staff.dateOfBirth }}</td>
                <td>{{ staff.user.email }}</td>
            <td>{{ staff.designation }}</td>
            <td>{{ staff.workStatus }}</td>
            <td>{{ staff.skillLevel }}</td>

            <td>
            <button class="btn btn-primary btn-md" id="show{{ forloop.counter }}">Show</button>
            </td>
              {% for hol in staff.holidays_set.all %}
                {% if hol.holidayID in holidayID %}
               <td> <span class="glyphicon glyphicon-plane" title="Start Date: {{ hol.startDate }} End Date: {{ hol.endDate }}"></span></td>
                {% endif %}

                {% endfor %}
               <form action="{% url 'adminUser:matchmakingProject' project.projectID %}" method="post">
                    {% csrf_token %}
            <input type="text" value="{{ staff.staffID}}" name="selectStaff"  hidden >
       <td><input class="btn btn-success btn-md" type="submit" value="Add Staff"  name="addFull"/></td>
                </form>
            <tr class="skillsrow" id="skillrow{{ forloop.counter }}" hidden>
            {% for key, value in dict.items %}
                {% if key == staff.staffID %}
                            {% for items in value %}
                              <td>{{ items }}</td>
                        {% endfor %}
                {% endif %}
                {% endfor %}



            </tr>

            </tr>
        {% endfor %}
      </tbody>
      </table>
        <br>
    <br>
        {% else %}
        <h4>No Match</h4>
        {% endif %}
        </div>
         </div>
{% endif %}


<SCRIPT>

        $(".skillsrow").each(function(index){
           $('#show'+(index+1)).click(function () {
                $('#skillrow'+(index+1)).toggle()
            });})


</SCRIPT>


  </div>

      {% endblock %}