{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="col-md-10">

        <div class="container container-rounded">
        <table class="table table-responsive">
    <tbody>
     <tr>
        <td class="profile">Project ID: {{ info.projectID }}</td>
         <td></td>
      </tr>
      <tr>
        <td class="profile">Project Name: {{ info.projectName }}</td>
          <td class="profile">Project Type: {{ info.type }}</td>
      </tr>
      <tr>
          <td class="profile"><a class="profileLink" href="{% url 'adminUser:staffprofile' info.projectManager.staffID %}">Project Manager: {{ info.projectManager.user.first_name }} {{ info.projectManager.user.last_name }}</a></td>
        <td class="profile">Maximum Staff: {{ info.numberOfStaff }}</td>
      </tr>
      <tr>
          <td class="profile">Start Date: {{ info.startDate}}</td>
       <td class="profile">End Date: {{ info.endDate }}</td>
      </tr>
     <tr>
        <td class="profile">Country: {{ info.location.country }}</td>
         <td class="profile">City: {{ info.location.city }}</td>
      </tr>
     <tr>
        <td colspan="2" class="profile">Description: {{ info.description}}</td>

      </tr>
     <tr>
        <td class="profile">Budget: {{ info.budget }} AED</td>
         <td class="profile">Status: {{ info.status }}</td>
      </tr>

    </tbody>
  </table>
        </div>
<br>
   <br>
    <div class="pull-left">
         <a href="{% url 'adminUser:report' info.projectID %}"><img src={% static 'img/pdf.png' %} alt="pdf"></a>
                    <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#charts"> <span class="glyphicon glyphicon-th-list"></span> Statistics</button>
    </div>
           <div class="pull-right">

                   <form  class = "form-inline" action="{% url 'adminUser:projectprofile' info.projectID %}" method="post">
                     {% csrf_token %}
                   <div class="form-group">




&nbsp;&nbsp;&nbsp;&nbsp;
                   {% if info.status == "On Going" or info.status == "Approved" %}
                         <button class="btn btn-danger btn-md" value="{{ info.projectID }}" name="discontinue"> <span class="glyphicon glyphicon-remove-sign"></span> Discontinue</button>

                         <a href="{% url 'adminUser:editproject' info.projectID %}" class="btn btn-info btn-md">
          <span class="glyphicon glyphicon-edit"></span> Edit Info
        </a>
                     {% endif %}
                       {% if info.status == "Pending Approval" %}
          <button class="btn btn-danger btn-md" value="{{ info.projectID }}" name="decline"> <span class="glyphicon glyphicon-thumbs-down"></span> Decline</button>

              <button class="btn btn-success btn-md" value="{{ info.projectID }}" name="accept"> <span class="glyphicon glyphicon-thumbs-up"></span> Approve</button>




     {% endif %}


</div>
              </form>
        </div>

        <br><br>

    <br>
    <h3>Staff on this Project</h3>
    <div class="col-sm-offset-5">
    <ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#current">Current</a></li>
  <li><a data-toggle="tab" href="#past">Past</a></li>
</ul>
    </div>
    <div class="tab-content">
        <div id="current" class="tab-pane fade in active">
        <br>
     <div class="input-group pull-right">
           <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
    </span>
    <input type="text" class="search form-control" placeholder="Search Staff">
</div>
<span class="counter pull-right"></span>
  <table class="table table-responsive table-bordered listTable table-scrollx results">
        <thead>
          <tr>

            <th>Staff ID</th>
            <th>First Name</th>
            <th>Last Name</th>

              <th>Designation</th>
              <th>Skill Level</th>
              <th>Start Date</th>
              <th>End Date</th>




          </tr>
        <tr class="warning no-result">
      <td colspan="7"><i class="fa fa-warning"></i> No result</td>
    </tr>
        </thead>
        <tbody>
           {% for staff in current %}
            <tr>
                <td><a href="{% url 'adminUser:staffprofile' staff.profile_ID.staffID %}">{{ staff.profile_ID.staffID }}</a></td>
            <td>{{staff.profile_ID.user.first_name }}</td>
            <td>{{staff.profile_ID.user.last_name }}</td>

            <td>{{ staff.profile_ID.designation }}</td>
            <td>{{ staff.profile_ID.skillLevel }}</td>
              <td>
                {{ staff.startDate }}


            </td>
             <td>
                 {{ staff.endDate }}
             </td>

        {% if staff.profile_ID.staffID != info.projectManager.staffID and info.status != "Completed" and info.status != "Discontinued"%}
 <form action="{% url 'adminUser:projectprofile' info.projectID %}" method="post">
    {% csrf_token %}
            <td><button class="btn btn-danger btn-sm" value="{{ staff.profile_ID.staffID }}" name="remove"> <span class="glyphicon glyphicon-remove-sign"></span>Remove</button></td>



                   </form>
                {% endif %}


            </tr>


        {% endfor %}

        </tbody>
      </table>
        </div>

     <div id="past" class="tab-pane fade in">
        <br>
     <div class="input-group pull-right">
           <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
    </span>
    <input type="text" class="search form-control" placeholder="Search Staff">
</div>
<span class="counter pull-right"></span>
  <table class="table table-responsive table-bordered listTable table-scrollx results">
        <thead>
          <tr>

            <th>Staff ID</th>
            <th>First Name</th>
            <th>Last Name</th>

              <th>Designation</th>
              <th>Skill Level</th>


          </tr>
        <tr class="warning no-result">
      <td colspan="7"><i class="fa fa-warning"></i> No result</td>
    </tr>
        </thead>
        <tbody>
        {% for staff in past %}

            <tr>
                <td><a href="{% url 'adminUser:staffprofile' staff.profile_ID.staffID %}">{{ staff.profile_ID.staffID }}</a></td>
            <td>{{ staff.profile_ID.user.first_name }}</td>
            <td>{{ staff.profile_ID.user.last_name }}</td>

            <td>{{ staff.profile_ID.designation }}</td>
            <td>{{ staff.profile_ID.skillLevel }}</td>



            </tr>


        {% endfor %}

        </tbody>
      </table>
        </div>
    </div>

            <br>

    {% if count < info.numberOfStaff %}
     {% if info.status == "On Going" or info.status == "Approved" %}
     <div class="pull-right">
        <a href="{% url 'adminUser:matchmakingProject' info.projectID %}" class="btn btn-primary btn-md">
          <span class="glyphicon glyphicon-star"></span> Match-Making
        </a>
    <a href="{% url 'adminUser:addpstaff' info.projectID %}" class="btn btn-success btn-md">
          <span class="glyphicon glyphicon-plus"></span> Add staff
        </a>
     </div>
    {% endif %}
    {% endif %}
        <br>
        <br>
<br>
    <h3>Skills Required for this Project</h3>
         <div class="input-group pull-right">
           <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
    </span>
   <input type="text" id="skillsearch" onkeyup="searchSkills()" class="form-control" placeholder="Search Skill">
</div>
<span class="counter pull-right"></span>
              <table id="skilltable" class="table table-responsive table-bordered listTable results">
              <thead>
              <tr>
                  <th class="success">Skill Name</th>
                  <th class="success">Hours Required</th>
                  <th class="success">Start Date</th>
                  <th class="success">End Date</th>
              </tr>
                <tr class="warning no-results">
      <td colspan="2" class="warning"><i class="fa fa-warning"></i> No result</td>
    </tr>
              </thead>
        <tbody>

            {% for skills,hrs in skillwithhrs.items  %}

            <tr>

            <td class="danger">{{ skills}}</td>

            <td class = "danger">{{ hrs }}</td>
            <td class = "danger">{{ hrs.startDate }}</td>
            <td class = "danger">{{ hrs.endDate }}</td>


  {% endfor %}

        </tbody>
      </table>
       <br>
     {% if info.status == "On Going" or info.status == "Approved" %}
     <div class="pull-right">
    <a href="{% url 'adminUser:addpskill' info.projectID %}" class="btn btn-success btn-md">
          <span class="glyphicon glyphicon-plus"></span> Add Skills
        </a>
     </div>
    {% endif %}
        <br>
        <br>
<br>

     <div class="modal fade" id="charts" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
              <ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#Chart">Staff On Project Skill Levels</a></li>
  <li><a data-toggle="tab" href="#pieChart">Staff Designations</a></li>
</ul>
        </div>
        <div class="modal-body">



       <div class="tab-content">
        <div id="Chart" class="tab-pane fade in active">
        <br>
        </div>
              <div id="pieChart" class="tab-pane fade in">

              </div>
          <br><br>
       </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
<script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);
      google.charts.setOnLoadCallback(drawPie);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Skill Level');

        data.addRows([
            {% for staff in info.staffwithprojects_set.all %}
                ['{{ staff.profile_ID.user.last_name }}',{{ staff.profile_ID.skillLevel}}],
            {% endfor %}

        ]);

        // Set chart options
        var options = {'title':'Skill Level of Employees working on this Project',
                       'width':550,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.BarChart(document.getElementById('Chart'));


        chart.draw(data, options);

      }

      function drawPie() {
          var pieChart = new google.visualization.DataTable();
        pieChart.addColumn('string', 'Name');
        pieChart.addColumn('number', 'Designation');

        var pm =0;
        var emp=0;
        var cont=0;

        {% for staff in info.staffwithprojects_set.all %}
            {% if staff.profile_ID.designation == "Project Manager" %}
                pm++;
            {% else %}
            {% if staff.profile_ID.designation == "Employee"  %}
                emp++;

                {% else %}
                    cont++;
            {% endif %}

            {% endif %}
            {% endfor %}

        pm = pm/{{ count }} * 100;
        emp = emp/{{ count }} * 100;
        cont = cont/{{ count }} * 100;

        pieChart.addRows([
                ['Project Manager',pm],
                ['Employee',emp],
                ['Contractor',cont]


        ]);

        // Set chart options
        var pieOptions = {'title':'Designations',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var piechart = new google.visualization.PieChart(document.getElementById('pieChart'));
          piechart.draw(pieChart, pieOptions);
      }
    </script>
      {% endblock %}