Django==1.10.3
MySQL-python==1.2.5
Pillow==2.9.0
cImage==1.4.1
django-countries==4.0
django-crispy-forms==1.6.1
django-datetime-widget==0.9.3
django-enumfield==1.3b.2
oauthlib==2.0.1
olefile==0.44
pip==9.0.1
pytz==2016.10
reportlab==3.3.0
requests==2.12.1
setuptools==20.10.1
six==1.10.0
tweepy==3.5.0
virtualenv==15.1.0
virtualenvwrapper-win==1.2.1
wheel==0.29.0
whitenoise==3.2.3