{% extends 'eprofile/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}


          <div class="col-md-10">
  <form method="POST" action="{% url 'employee:holidayrequest' %}">
                    {% csrf_token %}
                    {% crispy form %}


   <div class="pull-right">

                        <input class="btn btn-success btn-md" type="submit" value="Request" />
                            </div>
                    </form>

      <br>
      <br>
          </div>
          <br>      <br>
      <br>
      <br>
      <br>      <br>
    {% endblock %}
