{% extends 'eprofile/base.html' %}
{% load staticfiles %}
{% load countries %}
{% block content %}


          <div class="col-md-10">
    {% for alert in alertList %}
        <div class="container container-alert" id="{{ alert.alertID }}">

             {% if alert.alertType == 'Leave' %}


                <br>
                 Alert Date: {{ alert.alertDate }}
               <br>
                 Leave Start Date: {{ alert.holiday.startDate }}
                 <br>
                Leave End Date:   {{ alert.holiday.endDate }}
                 <br>
                 Status: {{ alert.holiday.status }}
                  <br>

                 <br>
         {% endif %}





            </div>
             <br>
        {% endfor %}



<br>

        <br>
        <br>
    {% endblock %}