{% extends 'profile/base.html' %}
{% load staticfiles %}
{% load countries %}
{% block content %}





          <div class="col-md-10">

        {% for alert in alertList %}
        <div class="container container-alert">
           {% if alert.alertType == 'Project' %}

               {{ alert.info }}: <a target="_blank" href="{% url 'projectManager:projectprofile' alert.project.projectID %}"> {{ alert.project.projectName }}</a>
               <br>
               Alert Date: {{ alert.alertDate }}
               <br>
               Project Status: {{ alert.project.status }}


            {% endif %}



             {% if alert.alertType == 'Leave' %}



                 Alert Date: {{ alert.alertDate }}
               <br>
                 Leave Start Date: {{ alert.holiday.startDate }}
                 <br>
                Leave End Date:   {{ alert.holiday.endDate }}
                 <br>
                 Status: {{ alert.holiday.status }}
                  <br>
              Type: {{ alert.holiday.type }}
            <br>

                    <br>

            {% endif %}


            </div>
             <br>
        {% endfor %}



<br>

        <br>
        <br>



      {% endblock %}