{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns:border-radius="http://www.w3.org/1999/xhtml">
  <head>
        <meta name="theme-color" content="#00274e">
      <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>


    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static "js/search.js" %}"></script>
     <link href="{% static "css/stylesheet.css" %}" rel="stylesheet">
 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        {{ form.media }}


  </head>
  <body>
  <div id="top-nav">
  <script> jQuery(document).ready(function (){jQuery("#top-nav").load('{% url "adminUser:alertTab" %}');})
         </script>
  </div>
    <div class="col-sm-1"></div>     <div class="col-sm-10"><div class="container-fluid" >
  <div class="row">

          <div>
          <img src="{% static 'img/leidos_logo_2013.jpg' %}" alt="" width="100%" > </a>  </li>
        </h1>

      <nav class="navbar navbar-default affixed-element"  data-spy="affix" data-offset-top="100">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li class="navli"><a href="{% url 'adminUser:addstaff' %}">Add Staff</a></li>
      <li class="navli"><a href="{% url 'adminUser:stafflist' %}">Staff List</a> </li>
      <li class="navli"><a href="{% url 'adminUser:addproject' %}">Add Project</a></li>
      <li class="navli"><a href="{% url 'adminUser:projectlist' %}">Projects List</a></li>
        <li class="navli"><a href="{% url 'adminUser:matchmaking' %}">Match Making</a></li>
    </ul>
  </div>
          <div class="container-heading">
              {{ title }}
          </div>
</nav>



    {% if messages %}
        <div class = "row">
      <div class="col-sm-6 col-sm-offset-3">
    {% for message in messages %}
    <p{% if message.tags %} class="alert alert-success"{% endif %}>{{ message }}</p>
        </div>
      </div>
    {% endfor %}

{% endif %}

   <div class="container-fluid">

  <br>
       <div class="row">
    <div class="col-md-2">
<span  data-toggle="collapse" data-target="#alert"  class="visible-xs visible-sm collapsed glyphicon glyphicon-chevron-right" id="fixedbutton"></span></button>
<div id="alert" class="collapse">


<a href="{% url 'adminUser:dashboard' %}" class="btn btn-primary btn-lg btn-new">
          <span class="glyphicon glyphicon-dashboard"></span> <h7>Dashboard</h7>
        </a>
      </button>

<br>
    <br>
 <div>
<a href="{% url 'adminUser:requests' %}" class="btn btn-primary btn-lg btn-new">
          <span class="glyphicon glyphicon-open"></span><h7> Requests</h7>
        </a>
           </div>
        <div>
            <br>

<a href="{% url 'adminUser:allreports' %}" class="btn btn-primary btn-lg btn-new">
    <span class="glyphicon glyphicon-tasks"></span><h7> Reports</h7>
        </a>
           </div>
        <div>
            <br>

<a href="{% url 'adminUser:skill' %}" class="btn btn-primary btn-lg btn-new">
          <span class="glyphicon glyphicon-wrench"></span><h7> Add Skill</h7>
        </a>
           </div>
        <div>
            <br>
<a href="{% url 'adminUser:location' %}" class="btn btn-primary btn-lg btn-new">
          <span class="glyphicon glyphicon-flag"></span><h7> Add Location</h7>
        </a>
            <br>
            <br>
        </div>
           </div>
    </div>


           {% block content %}
           {% endblock %}


       </div>

    </div>
<br>
          <br>
          <br>
          <br>


</body>
</html>