{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns:border-radius="http://www.w3.org/1999/xhtml">
  <head>
      <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>


    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static "js/search.js" %}"></script>
     <link href="{% static "css/stylesheet.css" %}" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        {{ form.media }}


  </head>
  <body>
  <div id="top-nav">
  <script> jQuery(document).ready(function (){jQuery("#top-nav").load('{% url "adminUser:alertTab" %}');})
         </script>
  </div>
    <div class="col-sm-1"></div>     <div class="col-sm-10"><div class="container-fluid" style="background-color:#dbdbdb;">
  <div class="row">

          <div>
          <img src="{% static 'img/leidos_logo_2013.jpg' %}" alt="" width="100%" > </a>  </li>
        </h1>

      <nav class="navbar navbar-default affixed-element"  data-spy="affix" data-offset-top="100">
  <div class="container-fluid">

    <ul class="nav navbar-nav">
      <li class="#"><a href="{% url 'adminUser:addstaff' %}">Add Staff</a></li>
      <li><a href="{% url 'adminUser:stafflist' %}">Staff List</a> </li>
      <li><a href="{% url 'adminUser:addproject' %}">Add Project</a></li>
      <li><a href="{% url 'adminUser:projectlist' %}">Projects List</a></li>
        <li><a href="{% url 'adminUser:matchmaking' %}">Match Making</a></li>
    </ul>
  </div>
          <div class="container-heading">
              {{ title }}
          </div>
</nav>

<script>
    function affixWidth() {
    // ensure the affix element maintains it width
    var affix = $('.affixed-element');
    var width = affix.width();
    affix.width(width);
}

$(document).ready(function () {

    affixWidth();

});
</script>

    {% if messages %}
        <div class = "row">
      <div class="col-sm-6 col-sm-offset-3">
    {% for message in messages %}
    <p{% if message.tags %} class="alert alert-success"{% endif %}>{{ message }}</p>
        </div>
      </div>
    {% endfor %}

{% endif %}

   <div class="container-fluid">

  <br>
       <div class="row">
    <div class="col-md-2">
<span  data-toggle="collapse" data-target="#alert"  class="visible-xs visible-sm collapsed glyphicon glyphicon-chevron-right" id="fixedbutton"></span></button>
<div id="alert" class="collapse">


<a href="{% url 'adminUser:dashboard' %}" class="btn btn-primary btn-lg btn-new">
          <span class="glyphicon glyphicon-dashboard"></span> <h7>Dashboard</h7>
        </a>
      </button>

<br>
    <br>
 <div>
<a href="{% url 'adminUser:requests' %}" class="btn btn-primary btn-lg btn-new">
          <span class="glyphicon glyphicon-open"></span><h7> Requests</h7>
        </a>
           </div>
        <div>
            <br>

<a href="{% url 'adminUser:allreports' %}" class="btn btn-primary btn-lg btn-new">
    <span class="glyphicon glyphicon-tasks"></span><h7> Reports</h7>
        </a>
           </div>
        <div>
            <br>

<a href="{% url 'adminUser:skill' %}" class="btn btn-primary btn-lg btn-new">
          <span class="glyphicon glyphicon-wrench"></span><h7> Add Skill</h7>
        </a>
           </div>
        <div>
            <br>
<a href="{% url 'adminUser:location' %}" class="btn btn-primary btn-lg btn-new">
          <span class="glyphicon glyphicon-flag"></span><h7> Add Location</h7>
        </a>
            <br>
            <br>
        </div>
           </div>
    </div>


           {% block content %}
           {% endblock %}


       </div>
      <br>
      <br>
      <grammarly>
        <div class="_9b5ef6-textarea_btn _9b5ef6-not_focused">
          <div class="_9b5ef6-transform_wrap">
            <div class="_9b5ef6-status">

            </div>
          </div>
        </div>
      </grammarly>
    </div>
  </div>
</div>



    </div>
    <div class="container-footer">
    <br><br>
    <div class="row">
        <div class="col-sm-2">

    <img src={% static 'img/leidos.png' %} alt="leidosLogo" class="img-rounded img-responsive img-footer">

</div>
        <div class="col-sm-2">

    <h8>Leidos Inc.
        <br>
        2017 Leidos inc.©
        <br>
     Reston, Virginia
</h8>
              </div>


         <div class="col-sm-2">

    <h8>Developed By Syntax Inc.©
        <br>
        Dubai, United Arab Emirates
        <br>

</h8>
              </div>

  <div class="col-sm-2">

    <img src={% static 'img/Logo.jpg' %} alt="syntaxLogo" class="img-rounded img-responsive img-footer-syntax">

</div>

        </div>

             <br><br>



</div>
    </div>

</body>
</html>