{% extends 'eprofile/base.html' %}
{% load staticfiles %}
{% load countries %}
{% block content %}



          <div class="col-md-8">
    {% for alert in alertList %}
        <div class="container container-alert" id="{{ alert.alertID }}">
           {% if alert.alertType == 'Project' %}



            <form class="form-inline" action="{% url 'employee:alerts' %}" method="post">
             <div class="form-group">
                 Project:
                    {% csrf_token %}
  <button type="submit" name="project"  value="{{ alert.project.projectID}}" class="btn-link">{{ alert.project.projectName }}</button>
            </form>
               status changed to {{ alert.project.status }}
                  </div>
               <br>
               Alert Date: {{ alert.alertDate }}



                <br>
               <div class="pull-right">
               {% for alertStatus in alert.staffalerts_set.all %}
                   {% if alertStatus.staffID|stringformat:"s" == staff_id and alertStatus.status == 'Unseen'%}
                       <form action="{% url 'employee:alerts' %}" method="post">
                       {% csrf_token %}
                     <button class="btn btn-success btn-md" value="{{ alert.alertID }}" name="unseen">Mark as Seen</button>
                       </form>
                        <br>
                       {% endif %}
            {% endfor %}

               </div>

 <br>
            {% endif %}

             {% if alert.alertType == 'Staff' %}

            <form class="form-inline" action="{% url 'employee:alerts' %}" method="post">
             <div class="form-group">
                 You have been {{ alert.info }} Project:
                    {% csrf_token %}
  <button type="submit" name="project"  value="{{ alert.project.projectID}}" class="btn-link">{{ alert.project.projectName }}</button>
            </form>
                  </div>
                <br>
                 Alert Date: {{ alert.alertDate }}
               <br>
               <div class="pull-right">
                {% for alertStatus in alert.staffalerts_set.all %}
                   {% if alertStatus.staffID|stringformat:"s" == staff_id and alertStatus.status == 'Unseen'%}
                        <form action="{% url 'employee:alerts' %}" method="post">
                         {% csrf_token %}
                     <button class="btn btn-success btn-md" value="{{ alert.alertID }}" name="unseen">Mark as Seen</button>
                        </form>
                        <br>
                       {% endif %}

            {% endfor %}

               </div>

 <br>
            {% endif %}

             {% if alert.alertType == 'Leave' %}

                Your leave request Status has changed.
                <br>
                 Alert Date: {{ alert.alertDate }}
               <br>
                 Leave Start Date: {{ alert.holiday.startDate }}
                 <br>
                Leave End Date:   {{ alert.holiday.endDate }}
                 <br>
                 Status: {{ alert.holiday.status }}
                  <br>
               <div class="pull-right">
                {% for alertStatus in alert.staffalerts_set.all %}
                   {% if alertStatus.staffID|stringformat:"s" == staff_id and alertStatus.status == 'Unseen'%}
                        <form action="{% url 'employee:alerts' %}" method="post">
                         {% csrf_token %}
                       <button class="btn btn-success btn-md" value="{{ alert.alertID }}" name="unseen">Mark as Seen</button>
                        </form>
                        <br>
                       {% endif %}
                    {% endfor %}

    </div>
                 <br>
         {% endif %}

                     {% if alert.alertType == 'Edit Staff' %}

                {{ alert.info }}
                <br>
                 Alert Date: {{ alert.alertDate }}
               <br>



               <div class="pull-right">
                {% for alertStatus in alert.staffalerts_set.all %}
                   {% if alertStatus.staffID|stringformat:"s" == staff_id and alertStatus.status == 'Unseen'%}
                        <form action="{% url 'employee:alerts' %}" method="post">
                         {% csrf_token %}
                       <button class="btn btn-success btn-md" value="{{ alert.alertID }}" name="unseen">Mark as Seen</button>
                        </form>
                        <br>
                       {% endif %}
            {% endfor %}

               </div>
            <br>

            {% endif %}
         {% if alert.alertType == 'Project Request' %}

                   <form class="form-inline" action="{% url 'employee:alerts' %}" method="post">
             <div class="form-group">
                Your Request to join Project:
                    {% csrf_token %}
  <button type="submit" name="project"  value="{{ alert.project.projectID}}" class="btn-link">{{ alert.project.projectName }}</button>
            </form>
             has been declined.
                  </div>
                <br>
                 Alert Date: {{ alert.alertDate }}
               <br>



               <div class="pull-right">
                {% for alertStatus in alert.staffalerts_set.all %}
                   {% if alertStatus.staffID|stringformat:"s" == staff_id and alertStatus.status == 'Unseen'%}
                        <form action="{% url 'employee:alerts' %}" method="post">
                         {% csrf_token %}
                       <button class="btn btn-success btn-md" value="{{ alert.alertID }}" name="unseen">Mark as Seen</button>
                        </form>
                        <br>
                       {% endif %}
            {% endfor %}

               </div>
            <br>

            {% endif %}



            </div>
             <br>
        {% endfor %}



<br>

        <br>
        <br>

        {% endblock %}