{% load staticfiles %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
  	        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Log In</title>

        <!-- CSS -->

         <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
                <link href="{% static "css/form-elements.css" %}" rel="stylesheet">





 <link href="{% static "css/style.css" %}" rel="stylesheet">
   </head>
   <body>

<div class="jets">

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="762px"
height="331px" viewBox="0 0 762 331" enable-background="new 0 0 762 331" xml:space="preserve" class="jet big front slowest">
<image xlink:href="{% static "img/leidosjet.png" %}" x="0" y="0"
      height="100%" width="100%" />
</svg>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="762px"
height="331px" viewBox="0 0 762 331" enable-background="new 0 0 762 331" xml:space="preserve" class="jet distant smaller">
<image xlink:href="{% static "img/leidosjet.png" %}" x="0" y="0"
      height="100%" width="100%" />
</svg>

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="762px"
height="331px" viewBox="0 0 762 331" enable-background="new 0 0 762 331" xml:space="preserve" class="jet small slow">
<image xlink:href="{% static "img/leidosjet.png" %}" x="0" y="0"
      height="100%" width="100%" />
</svg>

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="762px"
height="331px" viewBox="0 0 762 331" enable-background="new 0 0 762 331" xml:space="preserve" class="jet distant super-slow massive">
<image xlink:href="{% static "img/leidosjet.png" %}" x="0" y="0"
      height="100%" width="100%" />
</svg>

<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="762px"
height="331px" viewBox="0 0 762 331" enable-background="new 0 0 762 331" xml:space="preserve" class="jet slower">
<image xlink:href="{% static "img/leidosjet.png" %}" x="0" y="0"
      height="100%" width="100%" />
</svg>

</div>

  	<div class="top-content">

            <div class="inner-bg">
                <div class="container">


                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-0 form-box">

                          <div class="form-top">
                            <div class="form-top">
    <br>
    <img class="col-md-offset-1" width="80%" alt="logo" src="{% static "img/leidos.png" %}"></img>
                                <br><br>
                                <p>Enter your username and password to log in:</p>
                            </div>

                            </div>
                            <div class="form-bottom">
                          <form method="post" action="{% url 'accounts:login' %}">
                    {% csrf_token %}

                      {{ form|crispy }}
                              <button type="submit" class="btn" style="background-color:#461267;"><span class="glyphicon glyphicon-log-in"></span>  Sign In</button>
                              <br><br>
                               <a href="{% url 'password_reset' %}"><button class="btn btn-link-1" href="{% url 'password_reset' %}" style="background-color:#340068;">
                             <i class="glyphicon glyphicon-question-sign"></i> Reset/Forgot Password
                           </button></a>
                          </form>


                        </div>

                        </div>


   <div class="col-sm-3 col-sm-offset-4">
                        <br>
                        <h2>Developed By:</h2>
    <img class="logo" src="{% static "img/syntax.png" %}"/>
</div>

                    </div>
       </div>
            </div>





</body>
</html>
