{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="col-md-10">


    <form method="POST" action="">
                    {% csrf_token %}
                    {% crispy form %}


        <input type="submit" class="pull-right btn btn-success btn-md" name="insertlocation" value="Add Location">
    </form>

    <br><br>
    <h3>Below are the already present locations in the system</h3>
      <div class="input-group pull-right">
           <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
    </span>
    <input type="text" class="search form-control" placeholder="Search">
</div>
<span class="counter pull-right"></span>
      <table class="table table-responsive table-bordered listTable results">
        <thead>
          <tr>
            
            <th>Location ID</th>
            <th>Country</th>
              <th>City</th>
          </tr>
        <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr>
        </thead>
        <tbody>
        {% for location in list %}
            <tr>
            <td>{{ location.locationID }}</td>
            <td>{{ location.country }}</td>
            <td>{{ location.city }}</td>

            </tr>


        {% endfor %}

        </tbody>
      </table>
<br>

        <br>
        <br>
      
      {% endblock %}