{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="col-md-10">
        {{ form.media }}
    <div class="col-sm-offset-5">
    <ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#staff">Staff</a></li>
  <li><a data-toggle="tab" href="#projects">Projects</a></li>
</ul>
    </div>
    <div class="tab-content">
        <div id="staff" class="tab-pane fade in active">
        <br>
             <div class="input-group pull-right">
           <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
    </span>
    <input type="text" class="search form-control" placeholder="Search">
</div>
<span class="counter pull-right"></span>


      <table class="table table-responsive table-bordered table-scrollx listTable results" id="list">
        <thead>
          <tr>

            <th>Staff ID</th>
            <th>First Name</th>
            <th>Last Name</th>
              <th>Email</th>
              <th>DOB</th>
              <th>Designation</th>
              <th>Work Status</th>
              <th>Skill Level</th>

          </tr>
        <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr>
        </thead>
        <tbody>
        {% for staff in list %}
            <tr>
                <td><a href="{% url 'adminUser:staffprofile' staff.staffID %}">{{ staff.staffID }}</a></td>
            <td>{{ staff.user.first_name }}</td>
            <td>{{ staff.user.last_name }}</td>
                <td>{{ staff.user.email }}</td>
            <td>{{ staff.dateOfBirth }}</td>
            <td>{{ staff.designation }}</td>
            <td>{{ staff.workStatus }}</td>
            <td>{{ staff.skillLevel }}</td>
            <td> <a href="{% url 'adminUser:staffReport' staff.staffID%}"><img src={% static 'img/pdf.png' %} alt="pdf"></a></td>
            </tr>


        {% endfor %}

        </tbody>
      </table>
</div>

        <div id="projects" class="tab-pane fade">
        <br>
             <div class="input-group pull-right">
           <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
    </span>
    <input type="text" class="search form-control" placeholder="Search">
</div>
<span class="counter pull-right"></span>
      <table class="table table-responsive table-bordered listTable table-scrollx results">
        <thead>
          <tr>

            <th>Project ID</th>
            <th>Project Name</th>
              <th>Project Manager</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Location</th>
              <th>Status</th>
              <th>Budget</th>

          </tr>
        <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr>
        </thead>
        <tbody>
        {% for projects in projs %}
            <tr>
                <td><a href="{% url 'adminUser:projectprofile' projects.projectID %}">{{ projects.projectID}}</a></td>
            <td>{{ projects.projectName}}</td>
                <td><a href="{% url 'adminUser:staffprofile' projects.projectManager.staffID %}">{{ projects.projectManager.user.first_name}} {{ projects.projectManager.user.last_name }}</a></td>
            <td>{{ projects.startDate}}</td>
            <td>{{ projects.endDate}}</td>
            <td>{{ projects.location.country}}</td>
            <td>{{ projects.status}}</td>
            <td>{{ projects.budget}} AED</td>

            <td><a href="{% url 'adminUser:report' projects.projectID %}"><img src={% static 'img/pdf.png' %} alt="pdf"></a></td>
            </tr>


        {% endfor %}
        </tbody>
      </table>
        </div>
</div>
        <br>
        <br>



    </div>
      {% endblock %}
