{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="col-md-10">

        {% for alert in alertList %}

            <div class="container container-alert" id="{{ alert.alertID }}">
            {% if alert.alertType == 'Project' %}
               New Project Request from <a target="_blank" href="{% url 'adminUser:staffprofile' alert.fromStaff.staffID %}">{{ alert.fromStaff.user.first_name }} {{ alert.fromStaff.user.last_name }} </a>, Staff ID: {{ alert.fromStaff.staffID }}
               <br>
               Alert Date: {{ alert.alertDate }}
               <br>
               Project ID: {{ alert.project.projectID }}
               <br>
               <a target="_blank" href="{% url 'adminUser:projectprofile' alert.project.projectID %}">Project Name: {{ alert.project.projectName }}</a>
               <br>
               <div class="pull-right">
               {% for alertStatus in alert.staffalerts_set.all %}
               {% if alertStatus.status == "Unseen" and alertStatus.staffID|stringformat:"s" == staff_id %}
                      <form  class = "form-inline" action="{% url 'adminUser:projectrequest'%}" method="post">
                     {% csrf_token %}
                <button class="btn btn-danger btn-md" value="{{ alert.project.projectID}}" name="rejectProj"> <span class="glyphicon glyphicon-thumbs-down"></span> Decline</button>

              <button class="btn btn-success btn-md" value="{{ alert.project.projectID}}" name="acceptProj"> <span class="glyphicon glyphicon-thumbs-up"></span> Approve</button>
                      </form>
               {% endif %}
               {% if alertStatus.status == "Seen" and alertStatus.staffID|stringformat:"s" == staff_id %}
                   You have already taken action.
                   {% endif %}


               {% endfor %}
               </div>
            <br>


        <br>
            </div>

            <br>
              {% endif %}
                 {% if alert.alertType == 'Leave' %}
                Leave Request from <a target="_blank" href="{% url 'adminUser:staffprofile' alert.fromStaff.staffID %}">{{ alert.fromStaff.user.first_name }} {{ alert.fromStaff.user.last_name }} </a>, Staff ID: {{ alert.fromStaff.staffID }}
                <br>
                 Alert Date: {{ alert.alertDate }}
               <br>
                 Leave Start Date: {{ alert.holiday.startDate }}
                 <br>
                Leave End Date:   {{ alert.holiday.endDate }}
                  <br>
                 Leave Type: {{ alert.holiday.type }}
                 <br>
               <div class="pull-right">
                {% for alertStatus in alert.staffalerts_set.all %}
                {% if alertStatus.status == "Unseen" and alertStatus.staffID|stringformat:"s" == staff_id %}
                 <form  class = "form-inline" action="{% url 'adminUser:alerts'%}" method="post">
                     {% csrf_token %}
                <button class="btn btn-danger btn-md" value="{{ alert.holiday.holidayID}}" name="rejectLeave"> <span class="glyphicon glyphicon-thumbs-down"></span> Decline</button>

              <button class="btn btn-success btn-md" value="{{ alert.holiday.holidayID}}" name="acceptLeave"> <span class="glyphicon glyphicon-thumbs-up"></span> Approve</button>
                      </form>
                   {% endif %}
                  {% if alertStatus.status == "Seen" and alertStatus.staffID|stringformat:"s" == staff_id %}
                   You have already taken action.
                   {% endif %}
                    {% endfor %}
               </div>
            <br>
            {% endif %}
        <br>
            </div>
            <br><br>
        {% endfor %}

            

<br>

        <br>
        <br>
        {% endblock %}