{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="col-md-10">


                    <form method="POST" action="">
                    {% csrf_token %}

                      {% crispy form %}
                        <br>

                        {% crispy form2 %}
                        <br>
                        <br>

                        <div class="col-md-offset-11">

                        <input class="btn btn-success btn-sm" type="submit" value="Add Staff" />
                            </div>
                    </form>


        <br>
        <br>



    </div>
      {% endblock %}