{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="col-md-10">
      <div class="input-group pull-right">
           <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
    </span>
    <input type="text" class="search form-control" placeholder="Search">
</div>
<span class="counter pull-right"></span>
      <table class="table table-responsive table-bordered listTable table-scrollx results">
        <thead>
          <tr>

            <th>Project ID</th>
            <th>Project Name</th>
              <th>Project Manager</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Location</th>
              <th>Status</th>
              <th>Budget</th>

          </tr>
        <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr>
        </thead>
        <tbody>
        {% for projects in list %}
            <tr>

                <td><a href="{% url 'adminUser:projectprofile' projects.projects_ID.projectID %}">{{ projects.projects_ID.projectID}}</a></td>
            <td>{{ projects.projects_ID.projectName}}</td>
                <td><a href="{% url 'adminUser:staffprofile' projects.projects_ID.projectManager.staffID %}">{{ projects.projects_ID.projectManager.user.first_name}} {{ projects.projects_ID.projectManager.user.last_name }}</a></td>
            <td>{{ projects.startDate}}</td>
            <td>{{ projects.endDate}}</td>
            <td>{{ projects.projects_ID.location.country}}</td>
            <td>{{ projects.projects_ID.status}}</td>
            <td>{{ projects.projects_ID.budget}} AED</td>


            </tr>


        {% endfor %}
        </tbody>
      </table>
<br>

        <br>
        <br>

      <grammarly>
        <div class="_9b5ef6-textarea_btn _9b5ef6-not_focused">
          <div class="_9b5ef6-transform_wrap">
            <div class="_9b5ef6-status">

            </div>
          </div>
        </div>
      </grammarly>

    </div>
      {% endblock %}