{% extends 'base.html' %}
{% load staticfiles %}
{% load countries %}


{% block content %}

    <div class="col-md-10">
    {% if info.picture != NULL %}
        <button class="btn btn-info btn-md" id="pic"><span class="glyphicon glyphicon-user"></span> Show Picture</button>
        <br><br>
    <div class="col-md-offset-5" id="picShow" hidden>

    <img src="{{ info.picture.url }}" width="150" height="150">

    <br><br>
    </div>
    {% endif %}
        <div class="container container-rounded">
        <table class="table table-responsive">
    <tbody>
     <tr>
        <td class="profile">Staff ID: {{ info.staffID }}</td>
         <td class="right-circle"><svg height="20" width="20">
  <circle cx="10" cy="10" r="10"  fill="{% if percentage > 75 %}red{% endif %} {% if percentage < 75 and percentage > 25 %}yellow{% endif %}{% if percentage < 25 %}green{% endif %}" />
  Sorry, your browser does not support inline SVG.
</svg> </td>
      </tr>
     <tr>
          <td class="profile">Email: {{ info.user.email }}</td>
         <td></td>
     </tr>
      <tr>
        <td class="profile">First Name: {{ info.user.first_name }}</td>
          <td class="profile">Last Name: {{ info.user.last_name }}</td>
      </tr>
      <tr>
          <td class="profile">Nationality: {% get_country info.nationality as country %} {{ country.name }} </td>
        <td class="profile">Status: {{ info.workStatus }}</td>
      </tr>
      <tr>
          <td class="profile">Designation: {{ info.designation}}</td>
       <td class="profile">Date Of Birth: {{ info.dateOfBirth }}</td>
      </tr>
     <tr>
        <td class="profile">Preferred Country: {{ info.preferredLocation.country }}</td>
         <td class="profile">Preferred City: {{ info.preferredLocation.city }}</td>
      </tr>
    <tr>
        <td class="profile">Last Login: {{ info.user.last_login }}</td>
        <td></td>

      </tr>

    </tbody>
  </table>

     </div>
    <br><br>
           <div class="pull-right">
    <a href="{% url 'adminUser:staffReport' info.staffID %}"><img src={% static 'img/pdf.png' %} alt="pdf"></a>
    <a href="{% url 'adminUser:editprofile' info.staffID %}" class="btn btn-info btn-md">

          <span class="glyphicon glyphicon-edit"></span> Edit Profile
        </a>
              </div>
    {% if info.workStatus == "Working" %}
                   <div class="pull-left">
                       <form method="post" action="{% url 'adminUser:staffprofile' info.staffID %}">
                           {% csrf_token %}
                   <button class="btn btn-danger btn-md" value="{{ info.staffID }}" name="remove"><span class="glyphicon glyphicon-remove"></span> Remove</button>
                      </form>
                   </div>
    {% endif %}


    <br>
        <br>

  <h3>Skill Level</h3>

  <div class="progress">
    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ info.skillLevel }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ info.skillLevel }}%">
      {{ info.skillLevel }}% Skill Level
    </div>
  </div>
        <br>
    <br>
    <script>
            var month = new Array();
    month[1] = "January";
    month[2] = "February";
    month[3] = "March";
    month[4] = "April";
    month[5] = "May";
    month[6] = "June";
    month[7] = "July";
    month[8] = "August";
    month[9] = "September";
    month[10] = "October";
    month[11] = "November";
    month[12] = "December";

    $('#pic').click(function() {
    $('#picShow').toggle();
});
    </script>
  <div class="refresh">
              <table class="table table-responsive table-full">


          <thead>
              <td class="num"><a href="{% url 'adminUser:currentprojectsget' info.staffID %}">{{ ongoing }}</a></td>
              <td class="projectNum"><a href="{% url 'adminUser:upcomingprojectsget' info.staffID %}">{{ upcoming }}</a></td>
              <td class="upcoming"><a href="{% url 'adminUser:completedprojectsget' info.staffID  %}">{{ completed }}</a></td>
          </thead>
<thead>
                  <th class="headText">On Going Projects</th>
                  <th class="headText">Upcoming Projects</th>
                  <th class="headText">Completed Projects</th>
                  </thead>

  </table>
          </div>

        <br>
    <h3>Skills</h3>
         <div class="input-group pull-right">
           <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
    </span>
    <input type="text" class="search form-control" placeholder="Search Skills">
</div>
<span class="counter pull-right"></span>
              <table class="table table-responsive table-bordered listTable results">
              <thead>
              <tr>
                  <th class="success">Skill Name</th>

                  <th class="success">Hours Left</th>


              </tr>
                <tr class="warning no-result">
      <td colspan="4" class="warning"><i class="fa fa-warning"></i> No result</td>
    </tr>
              </thead>
        <tbody>

        {% for name in skillNames %}
<tr>
            <td class="danger">{{ name.skillName}}</td>
<td class="danger"><button class="btn btn-primary btn-md" id="show{{ forloop.counter }}">Show</button></td>
             </tr>

            {% for skill in skillhrs %}


                    {% if skill.skillID.skillName == name.skillName %}
<tr class="skillsrow"  id="skillrow{{ forloop.parentloop.counter }}{{ forloop.counter }}" hidden>
                        <td class="danger"><script>document.write(month[{{ skill.month }}]);</script>
</td>
                        <td class="danger">{{ skill.hoursLeft }}</td>

 </tr>
                {% endif %}

                {% endfor %}


        {% endfor %}








        </tbody>
      </table>
        <SCRIPT>

        $(".skillsrow").each(function(index){
           $('#show'+(index+1)).click(function () {
               for(i=1;i<={{ skillhrs.count }};i++) {
                   $('#skillrow' +(index+1)+(i)).toggle();
               }
            });})


</SCRIPT>

        <br>
     <div class="pull-right">
    <a href="{% url 'adminUser:addskill' info.staffID %}" class="btn btn-success btn-md">
          <span class="glyphicon glyphicon-plus"></span> Add Skills
        </a>
     </div>
        <br>
      <br>      <br>
         {% endblock %}