{% extends 'profile/base.html' %}
{% load staticfiles %}
{% load countries %}
{% block content %}





          <div class="col-md-10">
                       <h3>Add Skills</h3>
         <div class="input-group pull-right">
           <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
    </span>
    <input type="text" class="search form-control" placeholder="Search Skills">
</div>

<span class="counter pull-right"></span>
     <form action="{% url 'projectManager:addskill' title.projectID%}" method="post">
    <br><br>
    <h4>Please select a skill, and add its corresponding value of hours</h4>
              <table class="table table-responsive table-scrollx table-bordered listTable results">
              <thead>
              <tr>
                  <th class="success">Skill ID</th>
                  <th class="success">Skill Name</th>
                  <th class="success">Hours Required</th>
                  <th class="success">Start Date</th>
                  <th class="success">End Date</th>
              </tr>
                <tr class="warning no-result">
      <td colspan="4" class="warning"><i class="fa fa-warning"></i> No result</td>
    </tr>
              </thead>
        <tbody>



            {% csrf_token %}

            {% for skills in skillset%}

            <tr>


           <td class="danger">{{ skills.skillID}}</td>

            <td class = "danger">{{ skills.skillName }}</td>
            <td class = "danger col-xs-2"><input type="number" class="form-control" name="hours" min="1" id="inputhours{{ forloop.counter }}" disabled></td>
                <td class="danger col-xs-2"><input type="text" name="sdate" id="datepicker{{ forloop.counter }}" disabled></td>
            <td class="danger col-xs-2"><input type="text" name="edate" id="datepicker1{{ forloop.counter }}" disabled></td>
             <td class = "danger"><input type="checkbox" value="{{ skills.skillID }}" name="skillselec" id="selectskill{{ forloop.counter }}"></td>



            </tr>
        {% endfor %}


        </tbody>
      </table>
              <script>
            function check() {



                     for (var i = 1; i <= {{ skillset.count }}; i++) {
                          $( function() {
    $( "#datepicker"+i ).datepicker({
    dateFormat: "yy-mm-dd",
        minDate: "{{ startDate }}",
        maxDate: "{{ endDate }}"
    });
     $( "#datepicker1"+i ).datepicker({
dateFormat: "yy-mm-dd",
          minDate: "{{ startDate }}",
         maxDate: "{{ endDate }}"
     });
  } );
                              var checkbox = document.getElementById("selectskill" + i); // get element
                        if(checkbox.checked){
                               document.getElementById("inputhours"+i).required = true;
                               document.getElementById("datepicker"+i).required = true;
                               document.getElementById("datepicker1"+i).required = true;
                                document.getElementById("submitskill").disabled = false;

                                document.getElementById("inputhours"+i).disabled = false;
                                  document.getElementById("datepicker"+i).disabled = false;
                               document.getElementById("datepicker1"+i).disabled = false;
    }
                    else{
                            document.getElementById("inputhours"+i).required = false;
                            document.getElementById("inputhours"+i).disabled = true;
                             document.getElementById("inputhours"+i).value = "";
                             document.getElementById("datepicker"+i).required = false;
                            document.getElementById("datepicker"+i).disabled = true;
                             document.getElementById("datepicker"+i).value = "";
                             document.getElementById("datepicker1"+i).required = false;
                            document.getElementById("datepicker1"+i).disabled = true;
                             document.getElementById("datepicker1"+i).value = "";

                        }
                        var checkinputs = document.querySelectorAll('input[type=checkbox]');

                    }
                    var textinputs = document.querySelectorAll('input[type=checkbox]');
                    var empty = [].filter.call( textinputs, function( check ) {
                                        return !check.checked
                        });

                        if (textinputs.length == empty.length) {
                                            document.getElementById("submitskill").disabled = true;

}
}

            setInterval(check, 1);

        </script>


        <br>
        <br>
    <div class="pull-right">

                        <input class="btn btn-success btn-md" type="submit" value="Save" id="submitskill" name="save" disabled/>
                            </div>
<br>
        <br><br>
</form>




      <br>
      <br>
          {% endblock %}