{% extends 'profile/base.html' %}
{% load staticfiles %}
{% load countries %}
{% block content %}


          <div class="col-md-10">

            {% for boards in allBoards %}
                   <a href="{% url 'projectManager:comments' boards.boardID %}">
                <div class="container-message">

                {{ boards.projectID.projectName }}'s message board
</div>
                </a>
                <br>
              {% endfor %}
          </div>

      <br>
      <br>
         {% endblock %}