{% extends 'profile/base.html' %}
{% load staticfiles %}
{% load countries %}
{% block content %}




          <div class="col-md-10">
 <div class="input-group pull-right">
           <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
    </span>
    <input type="text" class="search form-control" placeholder="Search">
</div>
<span class="counter pull-right"></span>
      <table class="table table-responsive table-bordered table-scrollx listTable results">
        <thead>
          <tr>

            <th>Project ID</th>
            <th>Project Name</th>
              <th>Project Manager</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Location</th>
              <th>Status</th>


          </tr>
        <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr>
        </thead>
        <tbody>
        {% for projects in list %}
            <tr>
                <td><a href="{% url 'projectManager:projectprofile' projects.projectID %}">{{ projects.projectID}}</a></td>
            <td>{{ projects.projectName}}</td>
                <td><a href="{% url 'projectManager:staffprofile' projects.projectManager.staffID %}">{{ projects.projectManager.user.first_name}} {{ projects.projectManager.user.last_name }}</a></td>
            <td>{{ projects.startDate}}</td>
            <td>{{ projects.endDate}}</td>
            <td>{{ projects.location.country}}</td>
            <td>{{ projects.status}}</td>

            </tr>


        {% endfor %}
        </tbody>
      </table>
</div>

      <br>
      <br>
       {% endblock %}