{% extends 'profile/base.html' %}
{% load staticfiles %}
{% load countries %}
{% load crispy_forms_tags %}
{% block content %}

          <div class="col-md-10">
    <form method="POST" action="{% url 'projectManager:requestproject' %}">
                    {% csrf_token %}
                    {% crispy form %}

        <a target="_blank" href="{% url 'projectManager:staffprofile' query.staffID %}"><h3>{{ query.user.first_name }} {{ query.user.last_name }}</h3></a>
   <div class="pull-right">

                        <input class="btn btn-success btn-sm" type="submit" value="Add Project" />
                            </div>
                    </form>


<br>

        <br>
        <br>




      <grammarly>
        <div class="_9b5ef6-textarea_btn _9b5ef6-not_focused">
          <div class="_9b5ef6-transform_wrap">
            <div class="_9b5ef6-status">

            </div>
          </div>
        </div>
          </div>
      {% endblock %}