{% load staticfiles %}
{% load countries %}

<!DOCTYPE html>
<html lang="en" xmlns:border-radius="http://www.w3.org/1999/xhtml">
  <head>
        <meta name="theme-color" content="#00274e">
      <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>



 <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static "js/search.js" %}"></script>
     <link href="{% static "css/stylesheet.css" %}" rel="stylesheet">
       <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        {{ form.media }}



  </head>
  <body>
    <div id="top-nav">
  <script> jQuery(document).ready(function (){jQuery("#top-nav").load('{% url "projectManager:alertTab" %}');})
         </script>
  </div>
    <div class="col-sm-1"></div>     <div class="col-sm-10"><div class="container-fluid">
  <div class="row">
          <div>
          <img src="{% static 'img/leidos_logo_2013.jpg' %}" alt="" width="100%" > </a>  </li>
        </h1>

      <nav class="navbar navbar-default affixed-element"  data-spy="affix" data-offset-top="100">
  <div class="container-fluid">
    <div class="navbar-header">

    </div>
    <ul class="nav navbar-nav">
      <li><a href="{% url 'projectManager:myprojects' %}">My Projects</a></li>
      <li><a href="{% url 'projectManager:myrequests' %}">My Requests</a></li>
      <li><a href="{% url 'projectManager:projectlist' %}">Projects List</a></li>
        <li><a href="{% url 'projectManager:matchmaking' %}">Match Making</a></li>
    </ul>
  </div>
            <div class="container-heading">
              {{ title }}
          </div>
</nav>



 {% if messages %}
        <div class = "row">
      <div class="col-sm-6 col-sm-offset-3">
    {% for message in messages %}
    <p{% if message.tags %} class="alert alert-success"{% endif %}>{{ message }}</p>
    {% endfor %}
</div>
        </div>
{% endif %}


   <div class="container-fluid">

  <br><br>
       <div class="row">
    <div class="col-md-2">
<span  data-toggle="collapse" data-target="#alert"  class="visible-xs visible-sm collapsed glyphicon glyphicon-chevron-right" id="fixedbutton"></span></button>

<div id="alert" class="collapse">
 <a href="{% url 'projectManager:profile' %}" class="btn btn-primary btn-lg btn-new">
          <span class="glyphicon glyphicon-dashboard"></span> <h7>Profile</h7>
        </a>
      </button>

<br>
<br>
 <div>
<a href="{% url 'projectManager:requestproject' %}" class="btn btn-primary btn-lg btn-new">
          <span class="glyphicon glyphicon-cog"></span><h7>Request Project</h7>
        </a>
 </div>
        <div>
            <br>
<a href="{% url 'projectManager:holidayrequest' %}" class="btn btn-primary btn-lg btn-new">
    <span class="glyphicon glyphicon-plane"></span><h7> Request Leave</h7>
        </a>
        </div>
<br>
 <div>
<a href="{% url 'projectManager:message' %}" class="btn btn-primary btn-lg btn-new">
          <span class="glyphicon glyphicon-comment"></span><h7> Message Board</h7>
        </a>


            <br><br>
        </div>
</div>
           </div>
           {% block content %}
           {% endblock %}

    </div>

      <br>
   <br>
   <br><br>


   </body>


</html>