{% extends 'profile/base.html' %}
{% load staticfiles %}
{% load countries %}
{% load crispy_forms_tags %}


{% block content %}



          <div class="col-md-10">
    <form method="POST" action="{% url 'projectManager:holidayrequest' %}">
                    {% csrf_token %}
                    {% crispy form %}


   <div class="pull-right">

                        <input class="btn btn-success btn-sm" type="submit" value="Request" />
                            </div>
                    </form>


<br>

        <br>
        <br>



      {% endblock %}