{% extends 'eprofile/base.html' %}
{% load staticfiles %}
{% load countries %}
{% block content %}




          <div class="col-md-10">
  <div class="container-comment" id="box">
     <div class="pull-right">
                <a href="{% url 'employee:comments' board.boardID %}"><span class="glyphicon glyphicon-refresh"></span></a>
                </div>
  <br>
    <script> jQuery(document).ready(function (){jQuery("#box").load('{% url "employee:commentsBox" board.boardID%}');})
         </script>
<script>
    var lastScrollPos = 0;
$('#box').on('scroll', function() {
    lastScrollPos = this.scrollTop;
});
jQuery(document).ready(function(){setInterval(function(){jQuery("#box").load('{% url "employee:commentsBox" board.boardID %}',function () {
   $(this).scrollTop(lastScrollPos);});
   },1000)
       });</script>
  </div>
          <br>

    <form action="{% url 'employee:comments' board.boardID %}" method="post">
        {% csrf_token %}
            <textarea name="comment" rows="4" cols="123" ></textarea>
        <div class="pull-right">
            <button class="btn btn-primary btn-md" type="submit"><span class="glyphicon glyphicon-envelope"></span> Post</button>
</div>



    </form>

<br>
    </div>
      <br>
      <br>
           {% endblock %}
