{% extends 'eprofile/base.html' %}
{% load staticfiles %}
{% load countries %}
{% block content %}



          <div class="col-md-10">
  {% for boards in allBoards %}
                   <a href="{% url 'employee:comments' boards.boardID %}">
                <div class="container-message">

                {{ boards.projectID.projectName }}'s message board
</div>
                </a>
                <br>
              {% endfor %}

      <br>
      <br>
      <grammarly>
        <div class="_9b5ef6-textarea_btn _9b5ef6-not_focused">
          <div class="_9b5ef6-transform_wrap">
            <div class="_9b5ef6-status">

            </div>
          </div>
        </div>
      <br>
      <br>
        {% endblock %}