{% extends 'eprofile/base.html' %}
{% load staticfiles %}
{% load countries %}
{% block content %}



          <div class="col-md-10">
 <div class="input-group pull-right">
           <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
    </span>
    <input type="text" class="search form-control" placeholder="Search">
</div>
<span class="counter pull-right"></span>
      <table class="table table-responsive table-bordered table-scrollx listTable results">
        <thead>
          <tr>

            <th>Project ID</th>
            <th>Project Name</th>
              <th>Project Manager</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Location</th>



          </tr>
        <tr class="warning no-result">
      <td colspan="4"><i class="fa fa-warning"></i> No result</td>
    </tr>
        </thead>
        <tbody>
        {% for projects in list %}
            <tr>
                <td><form action="{% url 'employee:projectlist' %}" method="post">
                    {% csrf_token %}
  <button type="submit" name="project"  value="{{ projects.projectID}}" class="btn-link">{{ projects.projectID}}</button>
            </form></td>
            <td>{{ projects.projectName}}</td>
                <td><form action="{% url 'employee:projectlist' %}" method="post">
                     {% csrf_token %}
  <button type="submit" name="staff" value="{{ projects.projectManager.staffID}}" class="btn-link">{{ projects.projectManager.user.first_name}} {{ projects.projectManager.user.last_name }}</button>
            </form></td>
            <td>{{ projects.startDate}}</td>
            <td>{{ projects.endDate}}</td>
            <td>{{ projects.location.country}}</td>

            </tr>


        {% endfor %}
        </tbody>
      </table>
          </div>

      <br>
      <br>
     {% endblock %}