<nav class="navbar navbar-default navbar-fixed-top nav-top">
<div class="navbar-header navbar-right">
      <button type="button" class="navbar-toggle " data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
<div id="alertRefresh">

</div>
   <script> jQuery(document).ready(function (){jQuery("#alertRefresh").load('{% url "projectManager:refresh" %}');})
         </script>
              <script>
jQuery(document).ready(function(){setInterval(function(){jQuery("#alertRefresh").load('{% url "projectManager:refresh" %}');
   },10000)
       });</script>
    </div>
<div class="collapse navbar-collapse" id="myNavbar">
    <div class="navbar-left marquee">

<marquee>Ongoing Projects: {% for project in projectListOn %}
            <a target="_blank"  href="{% url 'projectManager:projectprofile' project.projects_ID.projectID %}">{{ project.projects_ID.projectName }}</a>,

    {% endfor %}
 Upcoming Projects: {% for project in projectListUp %}
            <a target="_blank"  href="{% url 'projectManager:projectprofile' project.projects_ID.projectID %}">{{ project.projects_ID.projectName }}</a>,

    {% endfor %}



</marquee>
        </div>

 <p class="navbar-text navbar-right top-text"><a href = "{% url 'accounts:logoutUser' %}"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></p>


<p class="navbar-text navbar-right top-text">Logged in as {{ user.first_name }} {{ user.last_name }}&nbsp;</p>

</div>
</nav>