{% extends 'profile/base.html' %}
{% load staticfiles %}
{% load countries %}
{% block content %}



          <div class="col-md-10">

        {% for alert in alertList %}
        <div class="container container-alert" id="{{ alert.alertID }}">
           {% if alert.alertType == 'Project' %}


               {{ alert.info }}: <a target="_blank" href="{% url 'projectManager:projectprofile' alert.project.projectID %}"> {{ alert.project.projectName }}</a> Status Changed
               <br>
               Alert Date: {{ alert.alertDate }}
               <br>
               Project Status: {{ alert.project.status }}

                <br>
               <div class="pull-right">
               {% for alertStatus in alert.staffalerts_set.all %}
                   {% if alertStatus.staffID|stringformat:"s" == staff_id and alertStatus.status == 'Unseen'%}
                       <form action="{% url 'projectManager:alerts' %}" method="post">
                       {% csrf_token %}
                     <button class="btn btn-success btn-md" value="{{ alert.alertID }}" name="unseen">Mark as Seen</button>
                       </form>
                        <br>
                       {% endif %}
            {% endfor %}

               </div>

 <br>
            {% endif %}

             {% if alert.alertType == 'Staff' %}

                You have been added to the Project: <a target="_blank" href="{% url 'projectManager:projectprofile' alert.project.projectID %}">Project Name: {{ alert.project.projectName }}</a>
                <br>
                 Alert Date: {{ alert.alertDate }}
               <br>
               <div class="pull-right">
                {% for alertStatus in alert.staffalerts_set.all %}
                   {% if alertStatus.staffID|stringformat:"s" == staff_id and alertStatus.status == 'Unseen'%}
                        <form action="{% url 'projectManager:alerts' %}" method="post">
                         {% csrf_token %}
                     <button class="btn btn-success btn-md" value="{{ alert.alertID }}" name="unseen">Mark as Seen</button>
                        </form>
                        <br>
                       {% endif %}

            {% endfor %}

               </div>

 <br>
            {% endif %}
         {% if alert.alertType == 'Edit Project' %}

                Project: <a target="_blank" href="{% url 'projectManager:projectprofile' alert.project.projectID %}"> {{ alert.project.projectName }}</a> has been edited.
                <br>
                 Alert Date: {{ alert.alertDate }}
               <br>
             {{ alert.info }}
             <br>
               <div class="pull-right">
                {% for alertStatus in alert.staffalerts_set.all %}
                   {% if alertStatus.staffID|stringformat:"s" == staff_id and alertStatus.status == 'Unseen'%}
                        <form action="{% url 'projectManager:alerts' %}" method="post">
                         {% csrf_token %}
                     <button class="btn btn-success btn-md" value="{{ alert.alertID }}" name="unseen">Mark as Seen</button>
                        </form>
                        <br>
                       {% endif %}

            {% endfor %}

               </div>

 <br>
            {% endif %}

             {% if alert.alertType == 'Leave' %}

                Your leave request Status has changed.
                <br>
                 Alert Date: {{ alert.alertDate }}
               <br>
                 Leave Start Date: {{ alert.holiday.startDate }}
                 <br>
                Leave End Date:   {{ alert.holiday.endDate }}
                 <br>
                 Status: {{ alert.holiday.status }}
                  <br>
              Type: {{ alert.holiday.type }}
            <br>
                    <div class="pull-right">
                {% for alertStatus in alert.staffalerts_set.all %}
                   {% if alertStatus.staffID|stringformat:"s" == staff_id and alertStatus.status == 'Unseen'%}
                        <form action="{% url 'projectManager:alerts' %}" method="post">
                         {% csrf_token %}
                       <button class="btn btn-success btn-md" value="{{ alert.alertID }}" name="unseen">Mark as Seen</button>
                        </form>
                        <br>
                       {% endif %}
            {% endfor %}

               </div>
                    <br>

            {% endif %}
     {% if alert.alertType == 'Edit Staff' %}

                {{ alert.info }}
                <br>
                 Alert Date: {{ alert.alertDate }}
               <br>



               <div class="pull-right">
                {% for alertStatus in alert.staffalerts_set.all %}
                   {% if alertStatus.staffID|stringformat:"s" == staff_id and alertStatus.status == 'Unseen'%}
                        <form action="{% url 'projectManager:alerts' %}" method="post">
                         {% csrf_token %}
                       <button class="btn btn-success btn-md" value="{{ alert.alertID }}" name="unseen">Mark as Seen</button>
                        </form>
                        <br>
                       {% endif %}
            {% endfor %}

               </div>
            <br>

            {% endif %}
   {% if alert.alertType == 'Project Request' %}

                Request to be added to Project: <a target="_blank" href="{% url 'projectManager:projectprofile' alert.project.projectID %}">{{ alert.project.projectName }}</a> from <a target="_blank" href="{% url 'projectManager:staffprofile' alert.fromStaff.staffID %}">{{ alert.fromStaff.user.first_name }} {{ alert.fromStaff.user.last_name}}</a>
                <br>
                 Alert Date: {{ alert.alertDate }}
               <br>



               <div class="pull-right">
                {% for alertStatus in alert.staffalerts_set.all %}
                   {% if alertStatus.staffID|stringformat:"s" == staff_id and alertStatus.status == 'Unseen'%}
                        <form action="{% url 'projectManager:alerts' %}" method="post">
                         {% csrf_token %}
                      <input type="number" value="{{ alert.project.projectID }}" name = "projectNum" hidden>
                            <input type="number" value="{{ alert.alertID }}" name = "seen" hidden>
                             <button class="btn btn-danger btn-md" value="{{ alert.fromStaff.staffID}}" name="reject"> <span class="glyphicon glyphicon-thumbs-down"></span> Decline</button>
              <button class="btn btn-success btn-md" value="{{ alert.fromStaff.staffID}}" name="accept"> <span class="glyphicon glyphicon-thumbs-up"></span> Approve</button>
                        </form>
                        <br>
                       {% endif %}
            {% endfor %}

               </div>
            <br>

            {% endif %}

            </div>
             <br>
        {% endfor %}



<br>
</div>
        <br>
        <br>



      {% endblock %}